# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
cs260_4/.vs/
cs260_4/Debug/
cs260_4/Release/
cs260_4/client/x64/
cs260_4/client/x64/Debug/
cs260_4/client/x64/Release/
cs260_4/client/Debug/
cs260_4/client/Release/

#Files
*.user
*.filters
*.ini
*.tlog
*.idb
*.pdb
*.iobj
*.ipdb
*.log
*.pdb
*.ilk
